### Heroes Of Pymoli Data Analysis
* Of the 1163 active players, the vast majority are male (84%). There also exists, a smaller, but notable proportion of female players (14%).

* Our peak age demographic falls between 20-24 (44.8%) with secondary groups falling between 15-19 (18.60%) and 25-29 (13.4%).  
-----

### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [81]:
# Dependencies and Setup
import pandas as pd
import numpy as np

# File to Load (Remember to Change These)
file_to_load = "Resources/purchase_data.csv"

# Read Purchasing File and store into Pandas data frame
purchase_data = pd.read_csv(file_to_load)
purchase_data.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

## Player Count

* Display the total number of players

In [82]:
#see column names 
purchase_data.columns

Index(['Purchase ID', 'SN', 'Age', 'Gender', 'Item ID', 'Item Name', 'Price'], dtype='object')

In [83]:
#Player Count, total_players
total_players = len(purchase_data['SN'].value_counts())

Total_Players = pd.DataFrame({"Total Players": total_players}, index=[0])
Total_Players

   Total Players
0            576

## Purchasing Analysis (Total)

* Run basic calculations to obtain number of unique items, average price, etc.


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [108]:
#unique Items
unique_items = len(purchase_data['Item ID'].value_counts()),

#average Price
average_price = purchase_data['Price'].mean(),

#average age of players
ave_age = purchase_data['Age'].mean(),

#total revenue
tot_rev = purchase_data['Price'].sum()

# summary data frame to hold the results
results = pd.DataFrame({'Unique Items':[unique_items], 
                        'Avg Price':[average_price], 
                        'Avg Player Age':[ave_age], 
                        'Total Revenue':[tot_rev]})
#results.style.format({'Avg Price':'${:.2f}'},{'Total Revenue': '${:.2f}'})

In [111]:
unique_items
average_price
ave_age
tot_rev.round(2)
results

  Unique Items             Avg Price         Avg Player Age  Total Revenue
0       (183,)  (3.050987179487176,)  (22.714102564102564,)        2379.77

In [86]:
# Use Map to format all the columns
#purchase_data["average_price"]=purchase_data["average_price"].map("

## Gender Demographics

* Percentage and Count of Male Players


* Percentage and Count of Female Players


* Percentage and Count of Other / Non-Disclosed

In [99]:
#Percentage and Count of Male Players

#variables
IsMale = purchase_data['Gender']=='Male'
IsFemale = purchase_data['Gender']=='Female'
IsNoGend = (purchase_data['Gender']!='Male') & (purchase_data['Gender']!='Female')
indexGen = ['Male', 'Female', 'Other/Non-Disclosed']

#getting count of all player genders, no repeat purchases
MaleCt =  purchase_data[IsMale]['SN'].nunique()
FemCt = purchase_data[IsFemale ]['SN'].nunique()
NAGendCt = purchase_data[IsNoGend]['SN'].nunique()
GendCt = pd.Series([MaleCt, FemCt, NAGendCt], index=indexGen)

#getting % of all player genders
MalePerc = (MaleCt/total_players)*100 
FemPerc = (FemCt/total_players)*100
NAPerc = (NAGendCt/total_players)*100
GendPerc = pd.Series([MalePerc, FemPerc, NAPerc], index=indexGen)

#formating the results to show as percentage
Gen_df = pd.DataFrame({'% of Players':GendPerc, 'Total Count':GendCt}).round(2)
Gen_df.style.format({"% of Players": "{:.2f}%"})


## Purchasing Analysis (Gender)

* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender




* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [104]:
# count multiple purchases by the same person 
MaleCt2 = purchase_data[IsMale].count()
MaleCt2 = MaleCt2['SN']
FemCt2 = purchase_data[IsFemale].count()
FemCt2 = FemCt2['SN']
NAGendCt2 = purchase_data[IsNoGend].count()
NAGendCt2 = NAGendCt2['SN']
GendCt_s = pd.Series([MaleCt2, FemCt2, NAGendCt2], index=indexGen)

avgPurchPr_M = purchase_data[IsMale]['Price'].mean()
avgPurchPr_F = purchase_data[IsFemale]['Price'].mean()
avgPurchPr_N = purchase_data[IsNoGend]['Price'].mean()
GendPurchAvg_s = pd.Series([avgPurchPr_M, avgPurchPr_F, avgPurchPr_N], index = indexGen)

totlPurchV_M =  purchase_data[IsMale]['Price'].sum()
totlPurchV_F = purchase_data[IsFemale]['Price'].sum()
totlPurchV_N = purchase_data[IsNoGend]['Price'].sum()
GendPurchTot_s = pd.Series([totlPurchV_M, totlPurchV_F, totlPurchV_N], index = indexGen)

#average of the totals per person of each gender
#count (...Ct) variables taken from **Gender Demographics** section. only unique SNs 
normTotl_M = totlPurchV_M / MaleCt
normTotl_F = (totlPurchV_F / FemCt).round(2)
normTotl_N = totlPurchV_N / NAGendCt
GendNormTot_s = pd.Series([normTotl_M, normTotl_F, normTotl_N], index = indexGen)

# Create new dataframe to visualize results
GendPurch_df = pd.DataFrame({'Purchase Count':GendCt_s, 'Average Purchase Price':GendPurchAvg_s,\
                            'Total Purchase Value':GendPurchTot_s, 'Normalized Totals':GendNormTot_s})
GendPurch_df.reindex(columns=['Purchase Count', 'Average Purchase Price', 'Total Purchase Value', 'Normalized Totals'])

,Purchase Count,Average Purchase Price,Total Purchase Value,Normalized Totals
Male,652,3.017853,1967.64,4.065372
Female,113,3.203009,361.94,4.470000
Other/Non-Disclosed,15,3.346000,50.19,4.562727

## Age Demographics

* Establish bins for ages


* Categorize the existing players using the age bins. Hint: use pd.cut()


* Calculate the numbers and percentages by age group


* Create a summary data frame to hold the results


* Optional: round the percentage column to two decimal points


* Display Age Demographics Table

In [89]:
purchase_data

fullcount = purchase_data["SN"].nunique()
malecount = purchase_data[purchase_data["Gender"] == "Male"]["SN"].nunique()
femalecount = purchase_data[purchase_data["Gender"] == "Female"]["SN"].nunique()
othercount = fullcount - malecount - femalecount
maleperc = ((malecount/fullcount)*100)
femaleperc = ((femalecount/fullcount)*100)
otherperc = ((othercount/fullcount)*100)

gender_demo_df = pd.DataFrame({"Gender": ["Male", "Female", "Other / Non-Disclosed"], "Percentage of Players": [maleperc, femaleperc, otherperc],
                                        "Total Count": [malecount, femalecount, othercount]}, columns = 
                                        ["Gender", "Percentage of Players", "Total Count"])
                                        
gender_demo_final = gender_demo_df.set_index("Gender")
gender_demo_final.style.format({"Percentage of Players": "{:.2f}%"})

## Purchasing Analysis (Age)

* Bin the purchase_data data frame by age


* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [90]:
#purchase_data['Age']: max==40, min==7
#create bins and append 'Age Range' to purchase_data
bins=[0, 10, 15, 20, 25, 30, 35, 40, 150]
labels=['<10', '10-14', '15-19', '20-24', '25-29', '30-34', '35-39', '40+']

#purchase_data['Age']: max==40, min==7
#create bins and append 'Age Range' to purchase_data
bins=[0, 10, 15, 20, 25, 30, 35, 40, 150]
labels=['<10', '10-14', '15-19', '20-24', '25-29', '30-34', '35-39', '40+']
purchase_data['Age Range'] = pd.cut(purchase_data['Age'], bins=bins, right=False, labels=labels)
PurchAges = purchase_data.groupby('Age Range')

#Purchase Count
PurchAgeCt = PurchAges['SN'].count()
#Average Purchase Price
avgPurchP = PurchAges['Price'].mean()
#Total Purchase Value
totlPurchV = PurchAges['Price'].sum()
#Normalized Totals. I'm guessing this to be (total/# of players) for each age group
normPurchV = totlPurchV / PurchAges['SN'].nunique()

#concatenate ALL the columns!!!
AgePurch_df = pd.concat({'Purchase Count':PurchAgeCt, 'Average Purchase Price':avgPurchP,\
                            'Total Purchase Value':totlPurchV, 'Normalized Totals':normPurchV}, axis=1)
#fix column order
AgePurch_df.reindex(columns = ['Purchase Count', 'Average Purchase Price', 'Total Purchase Value', 'Normalized Totals'])['Age Range'] = pd.cut(purchase_data['Age'], bins=bins, right=False, labels=labels)
PurchAges = purchase_data.groupby('Age Range')

#Purchase Count
PurchAgeCt = PurchAges['SN'].count()
#Average Purchase Price
avgPurchP = PurchAges['Price'].mean()
#Total Purchase Value
totlPurchV = PurchAges['Price'].sum()
#Normalized Totals. I'm guessing this to be (total/# of players) for each age group
normPurchV = totlPurchV / PurchAges['SN'].nunique()

#concatenate ALL the columns!!!
AgePurch_df = pd.concat({'Purchase Count':PurchAgeCt, 'Average Purchase Price':avgPurchP,\
                            'Total Purchase Value':totlPurchV, 'Normalized Totals':normPurchV}, axis=1)
#fix column order
AgePurch_df.reindex(columns = ['Purchase Count', 'Average Purchase Price', 'Total Purchase Value', 'Normalized Totals'])

,Purchase Count,Average Purchase Price,Total Purchase Value,Normalized Totals
Age Range,,,,
<10,23,3.353478,77.13,4.537059
10-14,28,2.956429,82.78,3.762727
15-19,136,3.035956,412.89,3.858785
20-24,365,3.052219,1114.06,4.318062
25-29,101,2.900990,293.00,3.805195
30-34,73,2.931507,214.00,4.115385
35-39,41,3.601707,147.67,4.763548
40+,13,2.941538,38.24,3.186667

## Top Spenders

* Run basic calculations to obtain the results in the table below


* Create a summary data frame to hold the results


* Sort the total purchase value column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [91]:
sn_total_purchase = purchase_data.groupby('SN')['Price'].sum().to_frame()
sn_purchase_count = purchase_data.groupby('SN')['Price'].count().to_frame()
sn_purchase_avg = purchase_data.groupby('SN')['Price'].mean().to_frame()

sn_total_purchase.columns=["Total Purchase Value"]
join_one = sn_total_purchase.join(sn_purchase_count, how="left")
join_one.columns=["Total Purchase Value", "Purchase Count"]

join_two = join_one.join(sn_purchase_avg, how="inner")
join_two.columns=["Total Purchase Value", "Purchase Count", "Average Purchase Price"]

top_spenders_df = join_two[["Purchase Count", "Average Purchase Price", "Total Purchase Value"]]
top_spenders_final = top_spenders_df.sort_values('Total Purchase Value', ascending=False).head()
top_spenders_final.style.format({"Average Purchase Price": "${:.2f}", "Total Purchase Value": "${:.2f}"})

## Most Popular Items

* Retrieve the Item ID, Item Name, and Item Price columns


* Group by Item ID and Item Name. Perform calculations to obtain purchase count, item price, and total purchase value


* Create a summary data frame to hold the results


* Sort the purchase count column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [92]:
purchase_data
#initial group by
Item_GBy = purchase_data.groupby('Item ID')

#Getting Item Name, Purchase Count, Item Price, Total Purchase Value
#ItmName and ItmPr only works when a function is called to them 
ItmName = Item_GBy['Item Name'].unique()
PurchCt = Item_GBy['Price'].count()
ItmPr = Item_GBy['Price'].unique()
totlItemV = Item_GBy['Price'].sum()

#Form vars into new dataframe, sort first by Purchase count, then by total purchase value, then format & view
PopItm_df = pd.DataFrame({'Item Name':ItmName, 'Purchase Count': PurchCt,\
                      'Item Price':ItmPr, 'Total Purchase Value': totlItemV})
PopItm_df = PopItm_df.sort_values(['Purchase Count', 'Total Purchase Value'], ascending=True)
PopItm_df = PopItm_df.reindex(columns=['Item Name', 'Purchase Count', 'Item Price', 'Total Purchase Value'])
PopItm_df.head()

,Item Name,Purchase Count,Item Price,Total Purchase Value
Item ID,,,,
42,[The Decapitator],1,[1.75],1.75
104,[Gladiator's Glaive],1,[1.93],1.93
23,[Crucifer],1,[1.99],1.99
126,[Exiled Mithril Longsword],1,[2.0],2.00
118,"[Ghost Reaver, Longsword of Magic]",1,[2.17],2.17

## Most Profitable Items

* Sort the above table by total purchase value in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the data frame

In [93]:
#use prefinal dataframe from prior to step to find most profitable items
PopItm_df = PopItm_df.sort_values(['Purchase Count', 'Total Purchase Value'], ascending=False)
PopItm_df.head()

,Item Name,Purchase Count,Item Price,Total Purchase Value
Item ID,,,,
178,"[Oathbreaker, Last Hope of the Breaking Storm]",12,[4.23],50.76
82,[Nirvana],9,[4.9],44.10
145,[Fiery Glass Crusader],9,[4.58],41.22
108,"[Extraction, Quickblade Of Trembling Hands]",9,[3.53],31.77
92,[Final Critic],8,[4.88],39.04